.App {
  text-align: center;
}

h2{
  text-align: center;
}
.editor{
  text-align: center;
  height: 600px;
  width:1200px;
}
.header{
  color: white;
  background-color: black;
  text-align: center;
  height: 70px;
}